@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Fontes</h1>
</div>

<h2>  
    Criando ordenação e busca
    <p> https://docs.microsoft.com/pt-br/aspnet/core/data/ef-mvc/sort-filter-page?view=aspnetcore-6.0</p>
    Base do projeto
    <p>https://www.macoratti.net/20/03/aspc_imguplod2.htm</p>

</h2>
